      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy;2013 - {{ helper:date format="Y" }} by {{ settings:site_name }}. All Rights Reserved. </p>
      </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
        {{ theme:js file="jquery.min.js" }}
  	    {{ theme:js file="bootstrap.min.js" }}
    	{{ theme:js file="ie10-viewport-bug-workaround.js" }}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->