<h2 class="slogan__heading text-center hide-from-mobile" style="font-size: 2.4em">
  The home of most consise value added services in Africa.
        </h2>

   <div class="row bs-docs-featured-sites">
    
      <div class="col-xs-6 col-sm-3 homeboxe">

          <a href="{{url:base}}products-and-services/sms-subscription/interactive-info">
      <h2>SMS subscription based services </h2>
      <i class="fa fa-envelope fa-5x"></i>
       </a>
      </div>

      <div class="col-xs-6 col-sm-3 homeboxe">

          <a href="{{url:base}}sms-voting-and-survey-platform ">
      <h2>Integrated Voice Response</h2>
       <i class="fa fa-microphone fa-5x"></i>
        </a>
      </div>
        <div class="col-xs-6 col-sm-3 homeboxe">
          <a href="{{url:base}}sms-voting-and-survey-platform ">
        <h2>SMS voting and Survey platform</h2>
       <i class="fa fa-fax fa-5x"></i>

       </a>
      </div>
        <div class="col-xs-6 col-sm-3 homeboxe">

          <a href="{{url:base}}sms-voting-and-survey-platform ">
      <h2>Voice Twitter</h2>
       <i class="fa fa-twitter fa-5x"></i>
        </a>
      </div>
     
    
    </div>