<!DOCTYPE html>
<html lang="en">

    {{ theme:partial name="head" }}
<!-- NAVBAR
================================================== -->
  <body>
   {{ theme:partial name="navigation"}}

    {{ if { url:segments segment="1" } == '' OR { url:segments segment="1" } == 'home' }}
    <!-- Carousel
    ================================================== -->
   {{ theme:partial name="slider"}}
   <!-- /.carousel -->
   {{ else }}
  

   <div class="container">
   <div class="row">

   {{ theme:partial name="content"}}
   </div>
   </div> 
   {{ endif }}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">


      <!-- Three columns of text below the carousel -->
      <div class="row">
         {{theme:partial name="homeboxes"}}
      </div><!-- /.row -->



      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
       {{ theme:partial name="footer"}}
    </div><!-- /.container -->


  </body>
</html>
